In [5]:
import numpy as np
import pandas as pd

#First using pandas we load the CSV file
df = pd.read_csv('supermarket_sales.csv')

#We have to validate how much Genders does the Dataframe has, this is for validate and see how much of them we have to write
dftotal = df.groupby(['Gender','Product line'])[['Total']].mean().round(2).reset_index()

#After checking the genders the DF has, we just choose the values we will be taking action as saw it the Total
data = df[['Gender','Product line','Total']].to_numpy()

#We select the genders that the Array has choosing the unique ones just the uniques genders are in the Array.
genders = np.unique(data[:,0])

#We select the Product Line that the Array has choosing the unique ones just the uniques Products Line are in the Array.
productLines = np.unique(data[:,1])

#Using nested cicle we iterate in each gender and even in each product Lines that exist, validating and getting the position that is accord the validation
for gender in genders:
    for productL in productLines:
        position = (data[:,0] == gender) & (data[:,1] == productL)

        #Saving this in a new array with the passed validations, getting the mean of the Quantity and Unit Price. Even printing it.
        subset = data[position]
        meanTotal   = np.mean(subset[:,2].astype(float))
        
        print(f"{gender} - {productL}: Total Mean: {meanTotal:.2f}")

Female - Electronic accessories: Total Mean: 322.64
Female - Fashion accessories: Total Mean: 317.06
Female - Food and beverages: Total Mean: 368.57
Female - Health and beauty: Total Mean: 290.02
Female - Home and lifestyle: Total Mean: 380.21
Female - Sports and travel: Total Mean: 324.71
Male - Electronic accessories: Total Mean: 316.69
Male - Fashion accessories: Total Mean: 291.08
Male - Food and beverages: Total Mean: 273.50
Male - Health and beauty: Total Mean: 348.10
Male - Home and lifestyle: Total Mean: 294.14
Male - Sports and travel: Total Mean: 340.36

In [3]:
dftotal

    Gender            Product line   Total
0   Female  Electronic accessories  322.64
1   Female     Fashion accessories  317.06
2   Female      Food and beverages  368.57
3   Female       Health and beauty  290.02
4   Female      Home and lifestyle  380.21
5   Female       Sports and travel  324.71
6     Male  Electronic accessories  316.69
7     Male     Fashion accessories  291.08
8     Male      Food and beverages  273.50
9     Male       Health and beauty  348.10
10    Male      Home and lifestyle  294.14
11    Male       Sports and travel  340.36